<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/img/img.png" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong class="h6">Ryan Gosling</strong>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>

  <div class="profile-card__description">
    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
  </div>

  <div class="profile-card__actions-btns">
    <button class="btn">Subscribe</button>
  </div>
</div>
