<form
  action="" class="login-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <img class="club-logo" src="assets/img/club2.png">

  <label class="tt-control-label mb16">

    <input
      formControlName="username"
      type="text" class="tt-input" placeholder="Введите логин">
  </label>

  <label class="tt-control-label mb32">

    <input
      formControlName="password"
      type="text" class="tt-input" placeholder="Введите пароль">
  </label>
  <button class="btn btn-shadow" [disabled]="form.invalid">Войти</button>
</form>

<!--<img src="/assets/svg/login.svg" alt="logo" class="logo">-->
